<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
  <strong>Agende a próxima irrigação</strong>

  <ion-item id="open-modal">
    <ion-icon name="calendar" slot="start" color="primary"></ion-icon>
    <ion-label>Data </ion-label>
    <ion-text slot="end">{{ dataAtualFormatada }}</ion-text>
  </ion-item>

  <ion-modal trigger="open-modal">
    <ng-template>
      <ion-content>
        <ion-datetime size="cover" [showDefaultButtons]="true"></ion-datetime>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-item id="open-modal-time">
    <ion-icon name="alarm-sharp" slot="start" color="primary"></ion-icon>
    <ion-label>Horário </ion-label>
    <ion-text slot="end">{{ horarioAtualFormatado }}</ion-text>
  </ion-item>

  <ion-modal trigger="open-modal-time">
    <ng-template>
      <ion-content>
        <ion-datetime presentation="time" size="cover" [showDefaultButtons]="true"></ion-datetime>
      </ion-content>
    </ng-template>
  </ion-modal>
  </div>
</ion-content>