ion-content {
  --background: #71B247;
}

#container {
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;

  --background-color: #71B247;
  --width: 325px;
  --height: 434px;
}

#container strong {

  font-size: 20px;
  line-height: 26px;

  color: #191E1D;
}

#container p {
  font-size: 14px;
  line-height: 23px;

  color: #28302F;

  margin: 0;
}

ion-modal {
  --background: rgba(44, 39, 45, 0.2);

  &::part(content) {
    backdrop-filter: blur(10px);
  }

  ion-content {
    --background: transparent;

    ion-datetime {
      margin: 40px 20px 0px 13px;
      width: 250px;
      height: 330px;
      border-radius: 8px;
    }

    ion-datetime .md {
      margin: 40px 20px 0px 13px;
      mode: md;
      width: 250px;
      height: 400px;
      border-radius: 8px;
    }
  }
}

ion-item {
  margin: 20px 20px 0px 13px;
  border-radius: 16px;
  text-align: center;
  width: 250px;

  ion-text {
    padding: auto;
    font-size: 13px;

    color: #28302F;
  }

  ion-label {
    font-size: 19px;
    line-height: 20px;

    color: #28302F;
  }
}