<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="info">
    <h3>Como podemos te ajudar, Vinícius Mendes?</h3>
    <p>Como você avalia o nosso aplicativo? </p>
   
    <div class="avaliação">
      <a href=""><img src="../assets/icon/alerta.png" alt="Placa de péssimo" width="25px"><p>Péssimo</p></a>
      <a href=""><img src="../assets/icon/Emoji-ruim.png" alt="Emoji Ruim" width="25px"><p>Ruim</p></a>
      <a href=""><img src="../assets/icon/Emoji-bom.png" alt="Emoji Bom" width="25px"><p>Bom</p></a>
      <a href=""><img src="../assets/icon/Emoji-Perfeito.png" alt="Emoji perfeito" width="25px"><p>Perfeito</p></a>
    </div>

    <strong><p>Seus Dados</p></strong>
    
    <div class="dados">
      <ion-icon name="person-outline"></ion-icon>
      <a href=""><p>Editar dados do Perfil</p></a>
    </div>

    <img src="../assets/icon/IrrigaJun-icon.png" alt="EletronJun-icon" width="180px">

  </div>
</ion-content>

<ion-footer>
  <h5>Fale com a gente! </h5>
  <div class="contatos">
    <p>E-mail: comercial@eletronjun.com.br</p>
    <p>Universidade de Brasília (UnB), Campus Gama (FGA)
      Área Especial de Indústria
      Gama - Brasília - DF</p>
    <p><a href="">Privacy</a> © 2023 EletronJun</p>
  </div>
</ion-footer>